# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
/Library/
Assets/AssetStoreTools*
*.apk

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Assets/Resources/Configs/battle_profile.json
Assets/Resources/Configs/battle_profile.json.meta
Assets/spine-csharp/spine-csharp.csproj.meta
Assets/spine-csharp/spine-csharp.sln.meta
Assets/spine-csharp/spine-csharp_xna.csproj.meta
Assets/BundleAssets/Spine/fon.json
Assets/BundleAssets/Spine/fon.json.meta
Assets/StreamingAssets/Bundles/localization.english.manifest.meta
Assets/StreamingAssets/Bundles/localization.english.meta
Assets/StreamingAssets/Bundles/localization.russian.manifest.meta
Assets/StreamingAssets/Bundles/localization.russian.meta
Assets/StreamingAssets/Bundles
Assets/StreamingAssets/
Assets/Resources/Configs/battle_profile_bin.bytes
Assets/Resources/Configs/battle_profile_bin.bytes.meta